header {
    background:#4A148C;
    position: fixed;
    width: 100%;
    top: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 ;
}
.caixa {
    padding: 10px;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav img {
    width: 32px;
    background: #ffffff;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;

}

.card {
    width: 90%;
    border: 0.5px solid;
    border-radius: 10px;
    box-shadow:3px 5px 5px;
    margin: auto;
    margin-top: 20px;
}

.card-header {
    background:#F3E5F5 ;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    font-size: 22px;
    text-align: center;
}

.card-header a{
    text-decoration: none;
}

.card-header a:hover{
    color: #000000;
    font-size: 25px;
}
.card-content {
    display: flex;
    background: honeydew;
    padding: 8px;
    text-align: center;
}

.card-content img{
    max-width: 50%;
    max-height: 50%;
}


.card-footer {
    background: #6A1B9A;
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 50px;
    background: #4A148C;
    margin: 20px 0 0;
}
@media (max-width:720px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}