body {
  align-content: center;
}
header {
  background: #4a148c;
  position: fixed;
  width: 100%;
  top: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0;
}
.caixa {
  padding: 10px;
  padding-left: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav img {
  width: 32px;
  background: #ffffff;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(25,25, 25, 0.8);
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}


.card-header {
  background: #f3e5f5;
  border-radius: 10px 10px 0 0;
  padding: 8px;
  font-size: 22px;
  text-align: center;
}

.card-header a {
  text-decoration: none;
}

.card-header a:hover {
  color: #000000;
  font-size: 25px;
}
.card-content {
  display: flex;
  padding: 8px;
  text-align: center;
}

.card-content p {
  max-width: 50%;
  margin: 5px;
  font: caption;
}
.card-content img {
  max-width: 50%;
  max-width: 60%;
}

.card-footer {
  background: #6a1b9a;
  color: white;
  border-radius: 0 0 10px 10px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-author {
  margin: 10px
}

.btn-salvar {
  background:#00C853;
  border: none;
  border-radius: 2px;
  width: 60px;
  height: 30px;
  color: #FFFFFF;
  box-shadow: 0 5px 5px 0 rgba(25,25, 25, 0.8);
  cursor: pointer;
}

.btn-salvar:hover {
  width: 65px;
  height: 35px;
}

.btn-apagar {
  background:#D50000;
  border: none;
  border-radius: 2px;
  width: 60px;
  height: 30px;
  color: #FFFFFF;
  box-shadow: 0 5px 5px 0 rgba(25,25, 25, 0.8);
  cursor: pointer;
}

.btn-apagar:hover {
  width: 65px;
  height: 35px;
}

footer {
  width: 100%;
  height: 50px;
  background: #4a148c;
  margin: 20px 0 0;
}
#nav-items {
  display: flex;
}
/* Search field (busque um título) */
.fg--search {
  border: rgba(0, 0, 0, 0.1) 2px solid;
  /* margin: 10px 0 10px 0; */
  background-color: #ffffff;
  border-radius: 5px;
}
.fg--search button {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.4);
  padding-right: 15px;
}
.fg--search button a {
  color: #666;
}
.fg--search button:hover {
  cursor: pointer;
}
.fg--search button:focus {
  outline: none;
}
.fg--search input:focus {
  outline: none;
}

.fg--search input {
  border: none;
  padding-left: 15px;
}

@media (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    max-width: 95%;
  }

  .card{
    width: 80%;
  }
  .caixa ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .card-author{
    overflow-wrap: anywhere; 
  }
}
